@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
:root{

    --bg-grey:#EEEEEE; 
    --bg-grey-50: #F8F7F7;
    --bg-blue:#293973;  
    --bg-green: #20C997;
    --bg-grey-text: #8C8A8D; 
}
html,
body{ background-color: #FFF; font-family: "Poppins", tahoma ;font-size: 14px;}
